body {
	width: 100%;
	overflow: hidden;
	background:#900;
}
.hide {
	display: none;
}
.page {
	width: 100%;
	height: 100%;
	position: absolute;
}
.page p,
.page-1-2{
	font-size: 100px;
	text-align: center;
}

.page .wrap {
/*height:500px;*/
}
.page-1-1 {
	background: url("../images/pic_01.jpg") no-repeat;
	background-size: 100% 100%;
}
.page-1-2 {
	background: url("../images/pic_02.jpg") no-repeat;
	background-size: 100% 100%;
}
.page-1-3 {
	background: url("../images/pic_03.jpg") no-repeat;
	background-size: 100% 100%;
}
.page-1-4 {
	background: url("../images/pic_04.jpg") no-repeat;
	background-size: 100% 100%;
}
.page-1-5 {
	background: url("../images/pic_05.jpg") no-repeat;
	background-size: 100% 100%;
}
.page-1-6 {
	background: url("../images/pic_06.jpg") no-repeat;
	background-size: 100% 100%;
}
.page-1-7,
.page-1-8 {
	background: url("../images/pic_06.jpg") no-repeat;
	background-size: 100% 100%;
}

.page-1-9 {
	background: url("../images/pic_05.jpg") no-repeat;
	background-size: 100% 100%;
}

.page-1-10 {
	background: url("../images/pic_10.jpg") no-repeat;
	background-size: 100% 100%;
}

.page-1-11 {
	background: url("../images/pic_08.jpg") no-repeat;
	background-size: 100% 100%;
}
.page-current {
	z-index: 100;
}
.page-1-1 .left {
	width: 18px;
	height: auto;
	position: absolute;
	right: 10px;
	top: 50%;
}
.page-1-1 .img_1 {
	width: 100%;
	position: absolute;
	left: 0;
	top: 6%;
	z-index: 1;
}
.page-1-1 .img_2 {
	width: 100%;
	position: absolute;
	top: 24%;
	left: 0;
	z-index: 2;
}
.page-1-1 .img_3 {
	width: 90%;
	position: absolute;
	left: 4%;
	top: 38%;
	z-index: 1;
}
.page-1-1 .img_4 {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 5%;
	z-index: 4;
}
.page-1-2 .right, .page-1-3 .right, .page-1-4 .right, .page-1-5 .right, .page-1-6 .right, .page-1-7 .right, .page-1-8 .right ,.page-1-9 .right, .page-1-10 .right, .page-1-11 .right   {
	width: 18px;
	height: auto;
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 50;
}
.page-1-2 .left, .page-1-3 .left, .page-1-4 .left, .page-1-5 .left, .page-1-6 .left, .page-1-7 .left, .page-1-8 .left, .page-1-9 .left, .page-1-10 .left, .page-1-11 .left {
	width: 18px;
	height: auto;
	position: absolute;
	left: 10px;
	top: 50%;
	z-index: 50;
}
.page-1-2 .img_1 {
	height: auto;
	width: 158px;
	position: absolute;
	left: 50%;
	top: 2%;
	margin-left: -79px;
	z-index: 2;
}
.page-1-2 {
	font-size: 14px;
}
.page-1-2 a {
	width: 70%;
	height: 4rem;
	display: block;
	margin: 0 auto;
}
.page-1-2 a img {
	width:80%;
}
.page-1-2 #gp_date {
	padding-top: 8.2em;
}
.page-1-3 .img_1 {
	width: 75%;
	margin: 0 auto;
	padding-top: 8rem;
	vertical-align: middle;
}
#gp_back, #sy_back, #lc_back, #gq_back, #tp_back, #fh_8, #fh_9, #fh_10 {
	width: 100%;
	height: 3rem;
	display: block;
	position: absolute;
	bottom: 3rem;
	right: 0rem;
	z-index: 95;
}
.page-1-3 {
	font-size: 14px;
}
.page-1-3 div.img2 {
	width: 80%;
	position: relative;
	margin: 0 auto;
	height: 22em;
	overflow: hidden;
	margin-top: 6.5rem;
}
@media all and (max-width:1000px){
	height: 26em;
}

.page-1-3 div.img2{}


.page-1-3 div.img2 img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.page-1-3 .img_3 {
	height: auto;
	width: 60px;
	position: absolute;
	left: 50%;
	top: 87%;
	margin-left: -10px;
}
.page-1-3 .img_6 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 92%;
	margin-left: -12px;
}
.page-1-4 {
	font-size: 14px;
}
.page-1-4 .img_1 {
	height: auto;
	width: 84%;
	position: absolute;
	left: 50%;
	top: 16%;
	margin-left:-42%; 
	z-index: 2;
}
.page-1-4 .img_2{
	height: auto;
	width: 80%;
	position: absolute;
	left: 50%;
	top: 22%;
	margin-left:-40%; 
	z-index: 2;
}
.page-1-4 .img_3{
	height: auto;
	width: 46%;
	position: absolute;
	left: 50%;
	top: 24%;
	margin-left:-23%; 
	z-index: 2;
}

#pz_1,
#pz_2,
#pz_3,
#pz_4,
#pz_5,
#pz_6{
	z-index: 100;
}
#pz_all{
	width:2000px;
	height:2000px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-1000px;
	margin-top:-1000px;
	z-index: 90;
}

#pz_1{
	width:56px;
	height:40px;
	position: absolute;
	left:50%;
	top:24%;
	margin-left:-124px;
}
#pz_2{
	width:56px;
	height:40px;
	position: absolute;
	left:50%;
	top:24%;
	margin-left:70px;
}
#pz_3{
	width:56px;
	height:32px;
	position: absolute;
	left:50%;
	top:31%;
	margin-left:-124px;
}
#pz_4{
	width:56px;
	height:32px;
	position: absolute;
	left:50%;
	top:31%;
	margin-left:70px;
}
#pz_5{
	width:56px;
	height:45px;
	position: absolute;
	left:50%;
	top:37%;
	margin-left:-124px;
}
#pz_6{
	width:56px;
	height:45px;
	position: absolute;
	left:50%;
	top:37%;
	margin-left:70px;
}



.page-1-4 .img_4{
	height: 0px;
	width: 46%;
	position: absolute;
	left: 50%;
	top: 45%;
	margin-left:-23%; 
	z-index: 2;
	overflow:hidden;
}
.page-1-4 .img_4 img{
	height: 147px;
}

.page-1-4 .img_5 {
	height: auto;
	width: 84%;
	position: absolute;
	left: 50%;
	top: 72%;
	margin-left:-42%; 
	z-index: 2;
}


.page-1-5 .img_1 {
	height: auto;
	width: 20%;
	position: absolute;
	left: 4%;
	top: 29%;	
	z-index: 2;
}
.page-1-5 .img_2 {
	height: auto;
	width: 70%;
	position: absolute;
	left: 50%;
	top: 13%;
	margin-left:-30%;	
	z-index: 6;
}
.page-1-5 .img_3 {
	height: auto;
	width: 40%;
	position: absolute;
	left: 50%;
	top: 66%;
	margin-left:-7%;	
	z-index: 7;
}
.page-1-5 .img_4{
	height:2000px;
	width:2000px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-1000px;
	margin-top:-1000px;
	z-index: 5;
	background: #000;
	opacity: 0.5;
}

.page-1-5 .img_5{
	height:2000px;
	width:2000px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-1000px;
	margin-top:-1000px;
	z-index: 10;
}

#free_1,
#free_2,
#free_3{
	width:100%;
	height:5rem;
	position: absolute;
	left:0;
	z-index: 9
}
#free_1{
	top:6.8rem;
}
#free_2{
	top:13rem;
}
#free_3{
	top:19.5rem;
}







/*.page-1-5 {
	font-size: 14px;
}
.width-change {
	position: absolute;
	left: 18%;
	top: 56%;
	z-index: 1;
	overflow: hidden;
	width: 0;
	position: absolute;
	z-index: 2;
}
.width-change img {
	width: 280px;
}
.page-1-5 .img_2 {
	height: auto;
	width: 36px;
	position: absolute;
	left:8%;
	top: 56%;
}
.page-1-5 .img_3 {
	width: 100%;
	position: absolute;
	left: 3%;
	top: 4rem;
	z-index: 2;
}
.page-1-5 .img_4 {
	width: 100%;
	position: absolute;
	left: 0;
	top: 26%;
	z-index: 2;
}
.page-1-5 .img_5 {
	width: 100%;
	position: absolute;
	left: 0;
	top: 40%;
	z-index: 2;
}
.page-1-5 .img_6 {
	top: 63%;
}
.page-1-5 .img_9 {
	top: 70%;
}
.page-1-5 .img_6_mb {
	height: 103px;
	width: 280px;
	position: absolute;
	left: 50%;
	top: 20rem;
	margin-left: -130px;
	background-size: 100% 100%;
	z-index: 2;
}
.page-1-5 .img_7 {
	width: 36px;
	position: absolute;
	left: 8%;
	top: 63%;
}
.page-1-5 .img_8 {
	width: 36px;
	position: absolute;
	left: 8%;
	top: 70%;
}


*/


.page-1-6 .img_1 {
	width: 93%;
	position: absolute;
	left: 50%;
	top: 10%;
	margin-left:-46%;
	z-index: 6;
}
.page-1-6 .img_2 {
	width: 80%;
	position: absolute;
	left: 50%;
	top: 28%;
	margin-left:-40%;
	z-index: 6;
}
.page-1-6 .img_3 {
	width: 80%;
	position: absolute;
	left: 50%;
	top: 56%;
	margin-left:-40%;
	z-index: 6;
}
.page-1-6 .img_4 {
	width: 80%;
	position: absolute;
	left: 50%;
	top: 71%;
	margin-left:-40%;
	z-index: 6;
}



/*.page-1-6 {
	font-size: 14px;
}
.page-1-6 .img_1 {
	width: 100%;
	position: absolute;
	left: 3%;
	top: 12%;
	z-index: 6;
}
.page6parent{width:16.2rem; height:12.8rem; margin:0 auto; position:absolute; top:25%; left:50%; margin-left:-8.1rem;}
.page-1-6 .img_2 {
	height: 0;
	width: 7.4rem;
	position: absolute;
	left: 0;
	z-index: 5;
	overflow: hidden;
}
.page-1-6 .img_2 img {
	width: 100%
}
.page-1-6 .img_3 {
	width: 1px;
	height: 12.8rem;
	position: absolute;
	left: 45%;
	z-index: 5;
	overflow: hidden;
}
.page-1-6 .img_3 img {
	width: 8.8rem;
}
.page-1-6 .tp_pic3_mb {
	height: 277px;
	width: 190px;
	position: absolute;
	left: 50%;
	top: 190px;
	margin-left: -4px;
	background: url("../images/tp_pic3_mb.png") no-repeat;
	background-size: 100% 100%;
	z-index: 6;
}
.page-1-6 .img_4 {
	width: 100%;
	position: absolute;
	left: 0;
	top: 61%;
}
.page-1-6 .img_5 {
	width: 100%;
	position: absolute;
	left: 0;
	top: 72%;
}
.page-1-6 .img_6 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 92%;
	margin-left: -12px;
}
.page-1-6 .img_7 {
	height: auto;
	width: 271px;
	position: absolute;
	left: 50%;
	top: 33%;
	margin-left: -135px;
}
.page-1-6 .img_8 {
	height: auto;
	width: 169px;
	position: absolute;
	left: 50%;
	top: 75%;
	margin-left: -84px;
}

*/

.page-1-7 .img_0{
	height:auto;
	width:80%;
	position:absolute;
	left:50%;
	top:9%;
	margin-left:-40%;
	z-index: 4;
}

.page-1-7 .sd_wk{
	width:100%;
	height:14rem;
	position: absolute;
	left:50%;
	top:8rem;
	margin-left:-50%;
	z-index: 5;
	overflow:hidden;
}

.sd_wk .sd_w{
	width:100%;
	height:100%;
	position: relative;
	z-index: 6;
	overflow:hidden;
}
.sd_wk .sd_w .shuidi{
	width:12px;
	height:auto;
	position: absolute;
	left:50%;
	bottom:100%;
	margin-left:-4px;
	z-index: 10;
}
.sd_wk .sd_w .shuid_pic{
	width: 100%;
	height:0%;
	overflow:hidden;
	position: relative;
}

.sd_wk .sd_w .shuidi_l{
	width:60%;
	height:auto;
	position:absolute;
	left:50%;
	top:0;
	margin-left:-29%;
	z-index: 8;
}








.page-1-7 .img_1{
	height:auto;
	width:24px;
	position:absolute;
	left:50%;
	/*top:34%;*/
	bottom:20%;
	margin-left:-12px;
	z-index: 4;
}

.page-1-7 .img_2{
	height:0;
	width:0;
	position: absolute;
	left:50%;
	bottom:24%;
	z-index: 4;
	overflow:hidden;
}
.page-1-7 .img_3{
	height:0;
	width:0;
	position: absolute;
	right:49%;
	bottom:27%;
	z-index: 4;
	overflow:hidden;
}
.page-1-7 .img_4{
	height:0;
	width:0;
	position: absolute;
	right:49%;
	bottom:36%;
	z-index: 4;
	overflow:hidden;
}
.page-1-7 .img_5{
	height:0;
	width:0;
	position: absolute;
	left:50%;
	bottom:42%;
	z-index: 4;
	overflow:hidden;
}
.page-1-7 .img_6{
	height:0;
	width:0;
	position: absolute;
	right:49%;
	bottom:46%;
	z-index: 4;
	overflow:hidden;
}
.page-1-7 .img_7{
	height:0;
	width:0;
	position: absolute;
	left:49.5%;
	bottom:57%;
	z-index: 4;
	overflow:hidden;
}
.page-1-7 .img_8{
	height:0;
	width:0;
	position: absolute;
	right:48%;
	bottom:57%;
	z-index: 4;
	overflow:hidden;
}

.page-1-7 .img_2 img,
.page-1-7 .img_3 img,
.page-1-7 .img_4 img,
.page-1-7 .img_5 img,
.page-1-7 .img_6 img,
.page-1-7 .img_7 img,
.page-1-7 .img_8 img{width:110px;height:auto;}
.page-1-7 .img_3 img,
.page-1-7 .img_4 img,
.page-1-7 .img_6 img,
.page-1-7 .img_8 img{float:right;}


/*.page-1-7 {
	font-size: 14px;
}
.page-1-7 .img_1 {
	width: 100%;
	position: absolute;
	left: 3%;
	top: 13%;
	z-index: 2;
}
.page-1-7 .img_2 {
	width: 100%;
	position: absolute;
	left: 0;
	top:25%;
}
.page-1-7 .img_3, .page-1-7 .img_4, .page-1-7 .img_5 {
	width: 0;
	position: absolute;
	left:0%;
	z-index: 1;
	overflow:hidden;
}
.page-1-7 .img_3 {
	top: 35%;
}
.page-1-7 .img_4 {
	top: 50%;
}
.page-1-7 .img_5 {
	top: 65%;
}
.page-1-7 .img_3 img, .page-1-7 .img_4 img, .page-1-7 .img_5 img {
	width: 360px;
	text-align:center;
}
*/

.page-1-8 .page_win{
	width:100%;
	height:100%;
	position: relative;
	margin-top:-1.5rem;
}
.page-1-8 .img_1{
	height:auto;
	width:80%;
	position:absolute;
	left:50%;
	top:9%;
	margin-left:-40%;
	z-index: 4;
}
.page-1-8 .img_2{
	height:auto;
	width:76px;
	position: absolute;
	right:8%;
	top:23%;
	z-index: 4;
}
.page-1-8 .img_3{
	height:32px;
	width:210px;
	position: absolute;
	right:50%;
	top:29%;
	margin-right:-63px;
	z-index: 4;
}
.page-1-8 .img_4{
	height:auto;
	width:76px;
	position: absolute;
	right:19%;
	top:33.3%;
	z-index: 4;
}
.page-1-8 .img_5{
	height:51px;
	width:175px;
	position: absolute;
	right:50%;
	top:37%;
	margin-right:-28px;
	z-index: 4;
}
.page-1-8 .img_6{
	height:auto;
	width:76px;
	position: absolute;
	right:8%;
	top:43.7%;
	z-index: 4;
}
.page-1-8 .img_7{
	height:28px;
	width:210px;
	position: absolute;
	right:50%;
	top:48%;
	margin-right:-63px;
	z-index: 4;
}
.page-1-8 .img_8{
	height:auto;
	width:76px;
	position: absolute;
	right:19%;
	top:53.9%;
	z-index: 4;
}
.page-1-8 .img_9{
	height:71px;
	width:175px;
	position: absolute;
	right:50%;
	top:54%;
	margin-right:-28px;
	z-index: 4;
}
.page-1-8 .img_10{
	height:auto;
	width:76px;
	position: absolute;
	right:8%;
	top:64.5%;
	z-index: 4;
}
.page-1-8 .img_11{
	height:70px;
	width:210px;
	position: absolute;
	right:50%;
	top:67%;
	margin-right:-63px;
	z-index: 4;
}




.page-1-8 .img_3 img,
.page-1-8 .img_5 img,
.page-1-8 .img_7 img,
.page-1-8 .img_9 img,
.page-1-8 .img_11 img{width:100%;}

.page-1-8 .pos_pic_1{
	width:240px;
	height:90px;
	position:absolute;
	left:50%;
	top:9rem;
	margin-left:-120px;
	z-index: 20;
}
.page-1-8 .pos_pic_1 .pic_1{
	width:57px;
	height:auto;
	float: right;
	overflow:hidden;
}
.page-1-8 .pos_pic_1 .pic_1 img{
	width:240px;
	height:auto;
	float:right;
}


.page-1-8 .pos_pic_2{
	width:240px;
	height:90px;
	position:absolute;
	left:50%;
	top:9rem;
	margin-left:-120px;
	z-index: 19;
	/*display:none;*/
}
.page-1-8 .pos_pic_2 .pic_2{
	width:57px;
	height:auto;
	float: right;
	overflow:hidden;
}
.page-1-8 .pos_pic_2 .pic_2 img{
	width:240px;
	height:auto;
	float:right;
}

.page-1-8 .pos_pic_3{
	width:240px;
	height:90px;
	position:absolute;
	left:50%;
	top:12rem;
	margin-left:-148px;
	z-index: 18;
	opacity: 0;
}
.page-1-8 .pos_pic_3 .pic_3{
	width:57px;
	height:auto;
	float: right;
	overflow:hidden;
}
.page-1-8 .pos_pic_3 .pic_3 img{
	width:240px;
	height:auto;
	float:right;
}

.page-1-8 .pos_pic_4{
	width:240px;
	height:90px;
	position:absolute;
	left:50%;
	top:15rem;
	margin-left:-120px;
	z-index: 17;
	opacity: 0;
}
.page-1-8 .pos_pic_4 .pic_4{
	width:57px;
	height:auto;
	float: right;
	overflow:hidden;
}
.page-1-8 .pos_pic_4 .pic_4 img{
	width:240px;
	height:auto;
	float:right;
}

.page-1-8 .pos_pic_5{
	width:240px;
	height:90px;
	position:absolute;
	left:50%;
	top:18rem;
	margin-left:-148px;
	z-index: 16;
	opacity: 0;
}
.page-1-8 .pos_pic_5 .pic_5{
	width:57px;
	height:auto;
	float: right;
	overflow:hidden;
}
.page-1-8 .pos_pic_5 .pic_5 img{
	width:240px;
	height:auto;
	float:right;
}







.page-1-9 .img_1{
	height:auto;
	width: 200px;
	position:absolute;
	left:50%;
	top:10%;
	margin-left:-100px;
	z-index: 4;
}
.page-1-9 .img_2{
	height:auto;
	width: 110px;
	position:absolute;
	left:50%;
	top:13%;
	margin-left:-40px;
	z-index: 4;
}
.page-1-9 .img_3{
	height:auto;
	width:0;
	position:absolute;
	left:50%;
	top:28%;
	margin-left:-40%;
	z-index: 4;
	overflow:hidden;
}
.page-1-9 .img_4{
	height:auto;
	width:0;
	position:absolute;
	left:50%;
	top:40%;
	margin-left:-40%;
	z-index: 4;
	overflow:hidden;	
}
.page-1-9 .img_5{
	height:auto;
	width:0;
	position:absolute;
	left:50%;
	top:52%;
	margin-left:-40%;
	z-index: 4;
	overflow:hidden;
}
.page-1-9 .img_6{
	height:auto;
	width:0;
	position:absolute;
	left:50%;
	top:64%;
	margin-left:-40%;
	z-index: 4;
	overflow:hidden;
}

.page-1-9 .img_3 img,
.page-1-9 .img_4 img,
.page-1-9 .img_5 img,
.page-1-9 .img_6 img{width:256px;height:auto;}


.page-1-10 .img_2{
	height:auto;
	width: 0;
	position: absolute;
	left:50%;
	top:17%;
	margin-left:-45%;
	z-index: 4;
	overflow:hidden;
}
.page-1-10 .img_3{
	height:auto;
	width: 0;
	position: absolute;
	left:50%;
	top:38%;
	margin-left:-45%;
	z-index: 4;
	overflow:hidden;
}
.page-1-10 .img_4{
	height:auto;
	width: 0;
	position: absolute;
	left:50%;
	top:59%;
	margin-left:-45%;
	z-index: 4;
	overflow:hidden;
}

.page-1-10 .img_2 img,
.page-1-10 .img_3 img,
.page-1-10 .img_4 img{width:275px;height:auto;}

.page-1-10 .wx_tl{
	width:18px;
	height:0;
	height:337px;
	position: absolute;
	top:18%;
	left:5.5%;
	overflow:hidden;
	z-index: 4;
}
.page-1-10 .wx_k{
	width:100%;
	height:100%;
	position: relative;
	overflow:hidden;
}
.page-1-10 .img_1{
	position: absolute;
	bottom:100%;
	left:0;
	height:auto;
	width:18px;
}






.page-1-11 {
	font-size: 14px;
}
.page-1-11 .img_1 {
	width: 100%;
	position: absolute;
	left: 0;
	top: 65%;
}


@media all and (min-width:319px) and (max-width:321px){



}

@media all and (min-width:300px) and (max-width:380px) and (min-height: 360px) and (max-height: 481px){
	.page-1-1 .img_2{width:76%;top:29%;left:50%;margin-left:-38%;}

	.page-1-2 #gp_date{padding-top: 6.0em;}
	.page-1-2 a{width:60%;height:3.0rem;}

	.page-1-3 div.img2{margin-top:4.8rem;height:15rem;}

	.page-1-4 .img_1{width:80%;margin-left:-40%;top:15%;}
	#pz_3,
	#pz_4{top:33%;}
	#pz_5,
	#pz_6{top:40%;}
	.page-1-4 .img_1{width:70%;margin-left:-35%;}
	.page-1-4 .img_4{top:52%;width:80px;margin-left:-40px;}
	.page-1-4 .img_4 img{height:80px;}
	.page-1-4 .img_5{width:70%;margin-left:-35%;top:72%;}
	

	.page-1-5 .img_2{width:57%;}
	.page-1-5 .img_3{width:32%;}
	#free_1{top:5.6rem;}
	#free_2{top:11.5rem;}
	#free_3{top:17rem;}

	.page-1-6 .img_2{width:60%;margin-left:-30%;top:33%;}
	
	.page-1-6 .img_3,
	.page-1-6 .img_4{width:60%;margin-left:-30%;}
	.page-1-6 .img_3{top:60%;}
	.page-1-6 .img_4{top:73%;}

	.page-1-7 .img_1{width:18px;margin-left:-9px;bottom:20%;}
	.page-1-7 .img_2{width:0;height:0;overflow:hidden;bottom:24%;}
	.page-1-7 .img_3{width:0;height:0;overflow:hidden;bottom:27%;}
	.page-1-7 .img_4{width:0;height:0;overflow:hidden;bottom:36%;}
	.page-1-7 .img_5{width:0;height:0;overflow:hidden;bottom:42%;}
	.page-1-7 .img_6{width:0;height:0;overflow:hidden;bottom:46%;}
	.page-1-7 .img_7{width:0;height:0;overflow:hidden;bottom:57%;}
	.page-1-7 .img_8{width:0;height:0;overflow:hidden;bottom:57%;}

	.page-1-8 .img_2{width:56px;right:1.8rem;top:8rem;}
	.page-1-8 .img_3{right:5.1rem;top:8.7rem;margin-right:0;}
	.page-1-8 .img_4{width:56px;right:3.4rem;top:10.7rem;}
	.page-1-8 .img_5{right:6.6rem;top:10.7rem;margin-right:0;}
	.page-1-8 .img_6{width:56px;right:1.8rem;top:13.4rem;}
	.page-1-8 .img_7{right:5.1rem;top:14rem;margin-right:0;}
	.page-1-8 .img_8{width:56px;right:3.4rem;top:16.1rem;}
	.page-1-8 .img_9{right:6.6rem;top:15.5rem;margin-right: 0;}
	.page-1-8 .img_10{width:56px;right:1.8rem;top:18.9rem;}
	.page-1-8 .img_11{right:5.1rem;top:19.6rem;margin-right:0;}

	.page-1-9 .img_1{width:56%;margin-left:-28%;}
	.page-1-9 .img_2{top:13.0%;}
	.page-1-9 .img_3,
	.page-1-9 .img_4,
	.page-1-9 .img_5,
	.page-1-9 .img_6{width:0;margin-left:-30%;overflow:hidden;}
	.page-1-9 .img_3 img,
	.page-1-9 .img_4 img,
	.page-1-9 .img_5 img,
	.page-1-9 .img_6 img{width:200px;height:auto;}
	
	.page-1-10 .wx_tl{left:17.6%;height:262px;}
	.page-1-10 .img_1{width:14px;}

	.page-1-10 .img_2{width:0;margin-left:-33%;top:3.5rem;overflow:hidden;}
	.page-1-10 .img_3{width:0;margin-left:-33%;top:9.0rem;overflow:hidden;}
	.page-1-10 .img_4{width:0;margin-left:-33%;top:14.5rem;overflow:hidden;}
	.page-1-10 .img_2 img,
	.page-1-10 .img_3 img,
	.page-1-10 .img_4 img{width:222px;height:auto;}
	

}

@media all and (min-height:500px) and (max-height:569px){
	.page-1-7 .sd_wk{top:8.5rem;height:18rem;}
	.sd_wk .sd_w .shuidi{width:14px;margin-left:-6px;}
	.sd_wk .sd_w .shuidi_l{width:80%;margin-left:-39%;}
	.page-1-8 .page_win{margin-top: 0;}

	/*.page-1-7 .img_1{width:20px;height:auto;margin-left:-10px;}*/
}


@media all and (min-width:300px) and (max-width:380px) and (min-height: 600px) and (max-height: 640px){
	#free_1{top:7.8rem;}
	#free_2{top:15rem;}
	#free_3{top:22rem;}
	.page-1-7 .sd_wk{height:20rem;top:9.5rem;}
	.sd_wk .sd_w .shuidi{width:16px;margin-left:-6px;}
	.sd_wk .sd_w .shuidi_l{width:80%;margin-left:-39%;}


	.page-1-8 .page_win{margin-top:2rem;}
	.page-1-9 .img_2{top:5.1rem;}
	.page-1-9 .img_1{top:4.0rem;}

	.page-1-9 .img_3,
	.page-1-9 .img_4,
	.page-1-9 .img_5,
	.page-1-9 .img_6{margin-left:-35%;}

	.page-1-10 .wx_tl{left:2.4rem;height:374px;}
	.page-1-10 .img_1{width:20px;}
	.page-1-10 .img_2,
	.page-1-10 .img_3,
	.page-1-10 .img_4{margin-left:-40%;}

}


@media all and (min-width:374px) and (max-width:415px){
	.page-1-7 .img_1{width:24px;top:39%;margin-left:-12px;}
	#free_1{top:8.4rem;}
	#free_2{top:15.6rem;}
	#free_3{top:23.2rem;}

	.page-1-7 .sd_wk{height:20rem;top:10rem;}
	.sd_wk .sd_w .shuidi{width:16px;margin-left:-6px;}
	.sd_wk .sd_w .shuidi_l{width:76%;margin-left:-37%;}

	.page-1-8 .page_win{margin-top:2rem;}

	.page-1-8 .img_2{width:56px;right:3.8rem;top:11rem;}
	.page-1-8 .img_3{right:7.1rem;top:11.7rem;margin-right:0;}
	.page-1-8 .img_4{width:56px;right:5.4rem;top:13.7rem;}
	.page-1-8 .img_5{right:8.6rem;top:13.7rem;margin-right:0;}
	.page-1-8 .img_6{width:56px;right:3.8rem;top:16.4rem;}
	.page-1-8 .img_7{right:7.1rem;top:17rem;margin-right:0;}
	.page-1-8 .img_8{width:56px;right:5.4rem;top:19.1rem;}
	.page-1-8 .img_9{right:8.6rem;top:18.5rem;margin-right: 0;}
	.page-1-8 .img_10{width:56px;right:3.8rem;top:21.9rem;}
	.page-1-8 .img_11{right:7.1rem;top:22.6rem;margin-right:0;}


	.page-1-9 .img_1{top:4.5rem;}
	.page-1-9 .img_2{top:5.6rem;}
	.page-1-9 .img_3,
	.page-1-9 .img_4,
	.page-1-9 .img_5,
	.page-1-9 .img_6{margin-left:-34%;}



	.page-1-10 .wx_tl{left:13.5%;height:355px;}
	.page-1-10 .img_1{width:19px;}
	.page-1-10 .img_2,
	.page-1-10 .img_3,
	.page-1-10 .img_4{margin-left:-37%;}

}


@media all and (min-width:374px) and (max-width:415px) and (min-height:690px) and (max-height:740px){
	#free_1{top:9.5rem;}
	#free_2{top:17.6rem;}
	#free_3{top:26.0rem;}

	.page-1-2 #gp_date{padding-top:10rem;}
	.page-1-3 div.img2{margin-top:8rem;height:26rem;}
	.page-1-4 .img_4{width:148px;margin-left:-76px;}
	.page-1-4 .img_5{top:70%;}
	.page-1-7 .sd_wk{height:23rem;top:11rem;}
	.sd_wk .sd_w .shuidi{width:18px;margin-left:-7px;}
	.page-1-8 .page_win{margin-top:3rem;}
	.page-1-9 .img_3, .page-1-9 .img_4, .page-1-9 .img_5, .page-1-9 .img_6{margin-left:-30%;}
	.page-1-9 .img_1{top:5.5rem;}
	.page-1-9 .img_2{top:6.6rem;}	

	.page-1-10 .wx_tl{left:16.5%;height:411px;}
	.page-1-10 .img_1{width:22px;}
	.page-1-10 .img_2, .page-1-10 .img_3, .page-1-10 .img_4{margin-left:-33.5%;}
}


@media all and (min-width:400px) and (max-width:560px) and (min-height: 720px) and (max-height: 961px){
	.page-1-2 #gp_date{padding-top:11.2em;}
	.page-1-3 div.img2{margin-top:7.5rem;height:27rem;}
	.page-1-4 .img_4{width:147px;margin-left:-76px;}
	.page-1-4 .img_5{top:68%;}
	#free_1{top:9.8rem;}
	#free_2{top:18rem;}
	#free_3{top:26.5rem;}

	.page-1-7 .sd_wk{top:11rem;height:24rem;}
	.sd_wk .sd_w .shuidi{width:18px;margin-left:-7px;}
	.sd_wk .sd_w .shuidi_l{width:80%;margin-left:-39%;}

	.page-1-8 .page_win{margin-top:3.0rem;}

	.page-1-9 .img_3,
	.page-1-9 .img_4, 
	.page-1-9 .img_5, 
	.page-1-9 .img_6{margin-left:-30%;}

	.page-1-9 .img_1{top:5.5rem;}
	.page-1-9 .img_2{top:6.5rem;}

	.page-1-10 .img_2,
	.page-1-10 .img_3, 
	.page-1-10 .img_4{margin-left:-32%;}
	.page-1-10 .wx_tl{left:18%;height:411px;}
	.page-1-10 .img_1{width:22px;}

}

@media all and (min-width:639px) and (max-width:721px) and (min-height: 960px) and (max-height: 1281px){


}


@media all and (min-width:359px) and (max-width:361px){
	

}

@media all and (min-width:413px) and (max-width:415px){
	

}

@media all and (min-width:539px) and (max-width:541px) and (min-height: 900px) and (max-height: 960px){
	

}
